---
layout: default
---
<div class="container">
    <h2>Publications</h2>

    {% for publication in site.data.publications %}
        {% include 
            publication.html 
            title=publication.title 
            authors=publication.authors
            booktitle=publication.booktitle
            year=publication.year
            links=publication.links 
            abstract=publication.abstract
            image=publication.image
            caption=publication.caption
        %}
        <div class="vspace"></div>
    {% endfor %}
    
    <div class="vspace"></div>
</div>