<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Jeongmin Byun's Personal Homepage">
    <script src="https://use.fontawesome.com/24031f45ff.js"></script>
    <script src="/assets/script/index.js"></script>
    <link href="/assets/style/index.css" rel="stylesheet">
    <title>Jeongmin Byun</title>
</head>

<body>
    {% include header.html %}
    <div class="content header-padded">
        {{ content }}
    </div>
    <script>
        init();
    </script>
</body>

</html>